{% block content %}
    <h1>{% block title %} Turmas cadastradas {% endblock %}</h1>
    <a href="/home"> home </a>
    <a href="createProf"> cadastrar uma nova turma </a>

    {% for post in posts %}
        <h2>{{ post['turma_numero'] }} </h2>
        <h3>{{ post['materia_nome'] }} {{post['professor_nome']}}</h3>
        <a href="{{url_for('editTur', id=post['id'])}}"> editar essa turma</a>
        <a href="{{url_for('deleteTur',  id=post['id'])}}"> apagar essa turma</a>

    {% endfor %}
{% endblock %}